.botonInicio{
    width:100%;
   
}

.mat-mdc-list-icon{
    width:100px;
    height:100px;
}

.playerRanking{
    background-color: lightyellow;
}

.contenedor-pregunta{
    margin-bottom: 10px;
    
  }

