/* From uiverse.io by @adamgiebl */
.card {
    width: fit-content;
    height: auto;
    border-radius: 30px;
    background: #e0e0e0;
    display: flex;
    align-items: center;
   }

.card p {
    font-size: large;
}