body {
    background-color: #0F2572;
    min-height: 100%;
}
h2 {
    display: flex;
    justify-content: center;
    color: cornsilk;
}
h5 {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

#botonera {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

button {
    margin-right: 1vw;
}

video {max-height: 35vw;}