body {
    display: block;
    align-items: center;
    background: #0F2572;
    height:100%;
}
main {
    margin-top: 10px;
}

h2 {
    color: cornsilk;
}
p {
    color: aliceblue;
    font-size: large;
}