.table {
    width: 100%;
  }
  
  .mat-mdc-row:nth-child(even) {
    background-color: #f2f2f2;
  }
  

.mat-mdc-row{
    height: 90px;
}

.mat-mdc-cell{
  white-space: normal; 
  word-wrap: break-word;
}

.btnCrear{
  margin-top: 15px;
}

.filter{
  width:100%;
  
}

.full{
  color:red;
}

.inputForm{
  width:100%
}

#btnCrear{
  display: block;
  width:100%;
  height:100%
}



.mat-column-Title {
  width: 20vw;
  max-width: 20vw !important;
  min-width: 20vw !important;
}

.mat-column-Answer {
  width: 10vw;
  max-width: 10vw !important;
  min-width: 10vw !important;
}
.mat-column-Information {
  width: 15vw;
  max-width: 15vw !important;
  min-width: 15vw !important;
}


@media (max-width: 768px) {
  .mat-column-Information{
  display: none !important;
  }

  .mat-column-Image{
    display:none !important;
  }

  .mat-column-Answer {
    width: 20vw;
    max-width: 20vw !important;
    min-width: 20vw !important;
  }
}