

<mat-form-field>
    <mat-label>Click here to filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter by any attribute..." #input>
  </mat-form-field>





<table mat-table [dataSource]="dataSorted" matSort >

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    <!-- Position Column -->

 
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="nombre" > Name </th>
        <td mat-cell *matCellDef="let data">
            {{data.nombre}}
        </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="lastname"> Lastname </th>
        <td mat-cell *matCellDef="let data">
            {{data.lastname}}
        </td>
    </ng-container>

    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="correo"> Email </th>
        <td mat-cell *matCellDef="let data">
            {{data.correo}}
        </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let data">
            <div id="ImageField" class="text-center">
            <img class="image" [src]="data!.image"  width="75" alt="User profile picture">
            </div>
        </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let data">
           {{data.rol}}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Options </th>
        <td mat-cell *matCellDef="let data">


            <button [routerLink]="['/profile',data!._id]"  mat-icon-button
            #tooltip="matTooltip"
            matTooltip="View profile"
            matTooltipPosition="below"
            aria-label="Button that gives access to the user profile ">
                <mat-icon>
                person</mat-icon>
            </button>

            <button  mat-icon-button
            (click)="changeToProfessor(data)"
            #tooltip="matTooltip"
            matTooltip="Change role to Teacher"
            matTooltipPosition="below"
            aria-label="Button that change the user status to professor">
                <mat-icon>
                upgrade</mat-icon>
            </button>
            
            <button  mat-icon-button
            (click)="deleteUser(data)"
            #tooltip="matTooltip"
            matTooltip="Delete user"
            matTooltipPosition="below"
            aria-label="Button that deletes a user from the database">
                <mat-icon>
                delete</mat-icon>
            </button>


         

          
    </ng-container>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>