
<h1 class="fs-5">Leaderboards</h1>
<p>Click on the side tabs to see the top 10 ranking in each category</p>

<mat-spinner *ngIf="!rankings"></mat-spinner>
<mat-tab-group backgroundColor="primary">

    <div *ngFor="let ranking of rankings">
        <mat-tab label={{ranking.tabName}}>
        <div class="card">
            <img [src]="ranking.img" class="card-img-top" [alt]="ranking.imgDes">
            <div class="card-body">
                <h5 class="card-title fs-2">{{ranking.cardText}}</h5>
            </div>

            <table mat-table [dataSource]="ranking.ranking" >
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
                
                <ng-container matColumnDef="No">
                    <th mat-header-cell *matHeaderCellDef> No </th>
                    <td mat-cell *matCellDef="let data">
                        <img *ngIf="data.ind=='1'"src="assets/images/first.png" class="icon" alt="First in the top">
                        <img *ngIf="data.ind=='2'"src="assets/images/second.png" class="icon" alt="Second in the top">
                        <img *ngIf="data.ind=='3'"src="assets/images/third.png" class="icon" alt="Third in the top">
                        <p *ngIf="data.ind > '3'">{{data.ind}}</p>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.name}} {{data.lastname}}
                    </td>
                </ng-container>
    
                
                <ng-container matColumnDef="Score">
                    <th mat-header-cell *matHeaderCellDef> Score </th>
                    <td mat-cell *matCellDef="let data">
                        {{data.score}}
                    </td>
                </ng-container>
    
            </table>
        </div>


        </mat-tab>
    </div>

</mat-tab-group>